---
import { ViewTransitions } from 'astro:transitions';
import { Image, getImage } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import Player from '../components/react/Player';
import Nav from '../components/react/nav';
import '../styles/main.scss';
import logo from '../photos/logo.png';

interface Props {
	title: string;
}

const { title } = Astro.props;
const backButtonVisible = Astro.url.pathname != '/';
const optimizedLogo = await getImage({ src: logo, width: 1000 })

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="You are formally invited to Kyle and Jasmine's wedding." />
		<meta property="og:image" content={optimizedLogo.src} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="Kyle & Jasmine's Wedding" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://kyleandjasmine.au/" />
		<link rel="icon" type="image/svg+xml" href={optimizedLogo.src} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&family=WindSong:wght@400;500&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Quattrocento&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<Nav backButtonVisible={backButtonVisible} client:load>
		<Image width={44} src={logo} loading={'eager'} alt="Kyle and Jasmine logo" slot="logo"></Image>
		<Icon name="mdi:menu" class="h-8 w-8 text-black open"></Icon>
		<Icon name="mdi:close-box-outline" class="h-8 w-8 text-black close"></Icon>
	</Nav>
	<body class="overflow-hidden">
		{backButtonVisible && <a onclick="history.back()" class="top-14 left-2 z-50 w-12 h-12 fixed">
				<Icon name="mdi:chevron-left" class="h-full w-full text-black"></Icon>
			</a>}
		<slot />
	</body>
	
</html>
<style is:global>
	:root {
		--accent: 215, 187, 152, 1;
		--accent-light: 215, 187, 152, 0.2;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			rgba(var(--accent)),
			rgba(var(--accent-light)) 80%,
			white
		);
		--tan: #D7BB98;
		--lightgreen: #698c6d;
		--peach: #d4938b;
		--darkgreen: #024c3c;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	a {
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
	}

	/* a:visited {
		color: var(--darkgreen);
	} */

	* {
		-webkit-margin-collapse: discard;
	}

	.font-dancing {
		/* font-family: 'Pinyon Script'; */
		font-family: 'Lato';
	}

	.parallax {
		/* The image used */

		/* Full height */
		height: 100%; 

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	p {
		max-width: 80ch;
	}
</style>